@model MyCloset.Models.Bookmark


<div class="row">

    <div class="col-12">

        <h5 class="card-title mt-5 mb-3" asp-for="Name">@Model.Name</h5>


        @if (ViewBag.EsteAdmin)
        {
            <i class="bi bi-person"> Creat de: </i> @Model.User.UserName

        }

        <br /><br />
        Articole in colectie:
        <br /><br />


    </div>
    <br />

    @if (Model.ItemBookmarks.Count > 0)

        @foreach (var itemBookmark in Model.ItemBookmarks)
        {
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    @*<img src="..." class="card-img-top" alt="..."> *@

                    <div class="card-body">

                        <partial name="ItemsInfo" model="itemBookmark.Item" />

                    </div>
                </div>
                <br /> <br />
            </div>
        }

</div>